/********** Base styles **********/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 5px;
  font-family: arial;

}


h1 {
  margin-bottom: 0px;
  padding-top: 20px;
  text-align: center;
  text-transform: lowercase;


}

p {
  background-color: #cfcfcf;
  width: 100%;
  height: 150px;
  margin: 0px;
 padding-top: 40px;
 padding-right:10px;
 padding-left:10px;
  font-family: arial;
  color: black;
  font-size: 14px;
  letter-spacing: 0.5px;
  border: 1px solid #c0c0c0;
    border-radius: 10px;
  overflow: auto;
 
}
#title1 {
  background-color: #F5AB35;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  float:right;
  top: 30px;
  width: 50%;
  height: 30px;
  margin: 0px;
 padding-top: 5px;
  font-family: Helvetica;
  color: white;
  border: 1px solid #d0d0d0;
  overflow: auto;
  text-align:center;
  font-size: 17px;
}

#title2 {
  background-color: #00B16A;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  float:right;
  top: 30px;
  width: 50%;
  height: 30px;
  margin: 0px;
 padding: 0px;
 padding-top: 5px;
  font-family: Helvetica;
  color: white;
   color: white;
  border: 1px solid #d0d0d0;
  overflow: auto;
  text-align:center;
    font-size: 17px;
}


#title3 {
  background-color: #33b5e5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  float:right;
  top: 30px;
  width: 50%;
  height: 30px;
  margin: 0px;
 padding-top: 5px;
  font-family: Helvetica;
  color: white;
   color: white;
  border: 1px solid #d0d0d0;
  overflow: auto;
  text-align:center;
    font-size: 17px;

}

/* Simple Responsive Framework. */
.row {
  width: 100%;

}



/********** Desktop view only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 0px solid green;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}

/********** Tablet view **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    border: 0px solid green;
  }
  .col-md-1 {
    width: 8.33%; 
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
    float:center;
  }
}


/********** Mobile view **********/
@media (max-width: 767px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    border: 0px solid green;
  }
  .col-sm-1 {
    width: 8.33%; 
  }
  .col-sm-2 {
    width: 16.66%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-4 {
    width: 33.33%;
  }
  .col-sm-5 {
    width: 41.66%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }
  .col-sm-9 {
    width: 74.99%;
  }
  .col-sm-10 {
    width: 83.33%;
  }
  .col-sm-11 {
    width: 91.66%;
  }
  .col-sm-12 {
    width: 100%;
  }
}
